<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearNest</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header class='site-header'>
        <nav class='container'>
            <a th:href="${session.loggedInUser == null} ? @{/} : @{/user/dashboard}" class='logo'>
                <img th:src="@{/images/logo.png}" alt="GearNest Logo" class="logo-img">
                <span>GearNest</span>
            </a>
            <div class="nav-right">
                <div class='desktop-nav'>
                    <a th:href="${session.loggedInUser == null} ? @{/} : @{/user/dashboard}">Home</a>
                    <a href='/about'>About</a>
                    <a href="/contact">Contact</a>
                    <a th:if="${session.loggedInUser == null}" href="/login">Login</a>
                </div>

                <div th:if="${session.loggedInUser != null}" class="user-profile">
                    <div class="user-info">
                        <!-- <img th:src="${session.loggedInUser?.profilePic != null} ? @{'/images/' + ${session.loggedInUser.profilePic}} : 'https://placehold.co/80x80/EFEFEF/333333?text=G'"
                            alt="User profile image"> -->

                        <img th:src="@{${#strings.equals(session.loggedInUser.profilePic, 'default.jpg')} ? '/images/default.png' : '/uploads/user-profiles/' + ${session.loggedInUser.profilePic}}"
                            alt="User profile image">
                        <span>
                            <span style="font-weight: 400; color: #4a5568;">Hello, </span>
                            <strong th:text="${session.loggedInUser?.firstName}"></strong>
                        </span> <svg class="dropdown-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="/user/profile">Profile</a></li>
                        <li><a href="/user/my-bookings">My Bookings</a></li>
                        <li><a href="#">Setting</a></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
            <button id='mobile-menu-button' class='mobile-menu-button'>
                <svg fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                    <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16m-7 6h7'>
                    </path>
                </svg>
            </button>
        </nav>

        <div id='mobile-menu' class='mobile-menu'>
            <a th:href="${session.loggedInUser == null} ? @{/} : @{/user/dashboard}">Home</a>
            <a href='/about'>About</a>
            <a href="/contact">Contact</a>

            <a th:if="${session.loggedInUser == null}" href="/login">Login</a>

            <hr th:if="${session.loggedInUser != null}">

            <div th:if="${session.loggedInUser != null}">s
                <div class="user-info" style="padding: 0 1.5rem;">
                    <!-- <img th:src="${session.loggedInUser?.profilePic != null} ? @{'/images/' + ${session.loggedInUser.profilePic}} : 'https://placehold.co/80x80/EFEFEF/333333?text=G'"
                        alt="User profile image"> -->
                    <img th:src="@{${#strings.equals(session.loggedInUser.profilePic, 'default.png')} ? '/images/default.png' : '/uploads/user-profiles/' + ${session.loggedInUser.profilePic}}"
                        alt="User profile image">
                    <span th:text="${session.loggedInUser?.firstName}">User</span>
                </div>
                <ul class="dropdown-menu"
                    style="display: block; position: static; box-shadow: none; border: none; margin-top: 0;">
                    <li><a href="/user/profile">Profile</a></li>
                    <li><a href="/user/my-bookings">My Bookings</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>

    <script th:src="@{/javascript/script.js}"></script>
</body>

</html>