<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearNest</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/garages">Garages</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login-user">Login</a></li>
                    <li th:if="${session.role == 'ADMIN'}">
                        <a href="/admin/dashboard">Admin Panel</a>
                        <ul class="dropdown-content">
                            <li><a th:href="@{/admin/garages}">Manage Garages</a></li>
                            <li><a th:href="@{/admin/users}">Manage Users</a></li>
                            <li><a th:href="@{/admin/feedback}">View Feedback</a></li>
                            <li><a th:href="@{/admin/settings}">Settings</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.role == 'GARAGE'}">
                        <a href="/dashboard">Garage Panel</a>
                    </li>
                    <li th:if="${session.role == 'USER'}">
                        <a href="/dashboard">User Panel</a>
                    </li>

                </ul>
                <div class="logo">
                    <a href="/"><img th:src="@{/images/logo.png}" alt="" srcset=""><span>GearNest</span></a>
                </div>

            </div>
        </nav>
    </header>
    <script src="script.js"></script>
</body>

</html>